.About {
    display: flex;
    flex-direction: column;
    width: 80%;
    height:100vh;
    margin: 2rem auto;

    &-Title {
        margin: 3rem 1rem;
        color: rgb(199, 75, 199);
        border-bottom: solid 3px rgb(199, 75, 199);
    }

    &-Container {
        display: flex;
        flex-wrap: wrap;
    }

    &-Card {
        width: 13rem;
        height: 17rem;
        margin: 1rem;
        border-radius: 10px;
        border: 4px solid rgba(255, 115, 0, 0.582);
        background: #f0efef;
        padding: 1rem 1.5rem;
        transition: box-shadow .3s ease, transform .2s ease;
        &:hover {
            box-shadow: 0 8px 50px #23232333;
           }
       }

    &-Card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
    }

    &-Card-avatar {
    --size: 120px;
    background-size: cover;
    width: var(--size);
    height: var(--size);
    border-radius: 10%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
        &:hover {
        transform: scale(1.1);
        }
    }
   
    &-Card-social {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
    }

    &-Icon {
    display: block;
    height: 18px;
    width: 18px;
    fill: #515F65;
    cursor: pointer;
    transition: fill 0.2s ease ,transform 0.2s ease;
    }
   
    &-Card-social__item {
        list-style: none;
    }
   
    /*Text*/
    &-Card-title {
        color: #333;
        font-size: 1rem;
        font-weight: 600;
        line-height: 2rem;
    }
    
    &-Card-subtitle {
        color: #859ba8;
        font-size: 0.8em;
    }
    
    /*Hover*/
    &-Card-social__item img:hover {
        transform: scale(1.1);
    }

    &-Card:hover &-Card-social {
        transform: translateY(100%);
        opacity: 1;
    }
}