@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

  .Carousel {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;

    &-Styles {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      margin: 3rem auto;
    }

    &-Banner {
      width: 100%;
      height: 50%;
      margin-bottom: 2rem;
      object-fit: cover;
      border-radius: 10px;
    }

    &-Title {
      border-top: rgb(148, 50, 145) 0.4rem solid;
      padding: 1.5rem 0rem;
      margin: 0rem 4rem;
      font-size: 2rem;
    }

    &-Container {
      margin: 0.5rem;
      width: 9rem;
      height:6rem;
    }

    &-Cards {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(6, 4, 44, 0.882);
      border: solid rgb(5, 3, 15) 2px;
      width: 100%;
      height: 4rem;
      border-radius: 10px;
      background-position: center;
      background-size: cover;
      filter: brightness(80%);

      &:hover {
        filter: grayscale(100%);
      }
    }

    &-StyleName {
      padding-top: 0.5rem;
      font-size: 1rem;
      text-shadow: rgb(19, 0, 68) 1px 0 10px;
      font-family: "Poppins", sans-serif;
    }

    &-More {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.8rem;
    }
  }

  @media screen and (min-width: 1025px) {
  .Carousel {
    &-Banner {
      width: 20rem;
      height: 20rem;
      margin: 1rem;
    }
    &-Styles {
      flex-wrap: nowrap;
    }
    &-Container {
      margin: 1rem;
      width: 8rem;
      height: 7rem;
    }
    &-Cards {
      width: 9rem;
      height: 7rem;
    }
    &-More {
      margin-top: 3rem;
      font-size: 1rem;
    }
  }
  }
